.card {
  margin: 0px;
  align-content: center;
  opacity: 40%;
}

.ui.card {
  width: 98%;
  margin: auto;
  align-content: center;
  opacity: 40%;
}

.background {
  bottom: -80px;
  position: fixed;
  width: 100%;
  z-index: -10;
}

body {
  overflow: hidden;
}
