.card {
  margin: 0px;
  align-content: center;
  opacity: 40%;
}

.ui.card {
  width: 98%;
  margin: auto;
  align-content: center;
  opacity: 40%;
}

.background {
  bottom: -80px;
  position: fixed;
  width: 100%;
  z-index: -10;
}

<<<<<<< HEAD

.header {
  height: 60%;
  width: 60%;
}

=======
body {
  overflow: hidden;
}
>>>>>>> 403f8d3fa45677d5cd3e00f3b6000d76a6dafad6
