/* link bootstrap in the index.html in the public folder*/
/* style for post format goes here */

.card{
    margin: 30px;
}

.btn-sm{
    margin: 10px;
}

.time-span{
    float: right;
}

.post-delete-button{
    float: right;
}